{% extends 'siteapp/bacik.html' %}
{% load static %}
{% load  widget_tweaks %}

{% block content %}
<div class="row">
    <div class="col-md-8">
      <div class="card card-user">
        <div class="card-header">
          <h5 class="card-title">Are You Should to delete </h5>
        </div>
        <div class="card-body">
          <form method="POST" action="{% url 'zakas-delete' byurtma.id  %}">
          {% csrf_token %}  
            <div style="padding-left: 35px;" class="row">
                <div class="col-md-11 pr-1">
                    <div class="form-group">
                        <label>Siz shu buyutmani o'chirmoqchimisiz</label>
                        <input style="padding-left: 5%; border radius: 15%;" type="text" class="form-control" disabled="" placeholder="{{ byurtma }}" >
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="update ml-auto mr-auto">
                    <a href=""><button type="submit" class="btn btn-primary btn-round">submit</button></a>
                </div>
                <div class="update ml-auto mr-auto">
                    <a href="{% url 'buyurtma_table' %}"><button type="button" class="btn btn-primary btn-round">cancel</button></a>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
{% endblock %}