{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="copyright" content="MACode ID, https://macodeid.com">
    <title>Shopping Chat</title>
    <link rel="stylesheet" href="{% static 'assets3/css/chat.css' %}">
</head>
<body>
    <div class="container">
        <div class="chat">
            <div class="chat-header">
                <div class="profile">
                    <div class="left">
                        <img src="{% static 'assets3/img/arrow.png' %}" class="arrow">  
                        <img src="{% static 'assets3/img/pp.png2.png' %}" class="pp">  
                        <h2>Elyas</h2>
                        <p>online</p>
                    <div>
                    <div class="right"><div>    
                </div>
            </div>
            <div class="chat-box"></div>
            <div class="chat-footer"></div>
        </div>
    </div>
</body>
</html>